# LumiROM Build Artifacts
FIRMWARE/
WORK/
OUT/
TMP/
CACHE/
.local/

# Logs
*.log
apt.log
pip.log
apt_fast_setup.log
logs/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Firmware and Flashable ZIPs
*.tar.zst
*.img
*.img.raw
*.zip

# Ignore generated/transient files in the template directory
template/build_info.txt
template/boot.img
template/*.zip

# OS Specific
.DS_Store
.thumbs.db
